<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>A Ao Gosto Carnes precisa da sua localização para rastrear a entrega em andamento e atualizar o cliente no mapa.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>A Ao Gosto Carnes precisa da sua localização em segundo plano para manter o sistema atualizado mesmo quando você estiver com a tela bloqueada durante a rota.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>A Ao Gosto Carnes precisa da sua localização para rastrear a entrega em andamento e atualizar o cliente no mapa.</string>

    <key>NSCameraUsageDescription</key>
    <string>A Ao Gosto Carnes precisa de acesso à câmera para escanear os QR Codes dos pedidos e permitir o envio de fotos dos comprovantes de entrega.</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>A Ao Gosto Carnes precisa de acesso à sua galeria para caso deseje anexar comprovantes de entrega já salvos no aparelho.</string>

    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>Ao Gosto Entregador</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>entregador</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>
    <key>UIMainStoryboardFile</key>
    <string>Main</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>
</dict>
</plist>